.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0D192C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fake-link {
  color: #FFFFFF;
}

.fake-link:hover {
  color: #00FFF8;
}

.text-heading {
  font-size: 22px;
}

.text-body-sp {
  font-size: 18px;
}

.text-caption {
  font-size: 16px;
}

.text-caption-bold {
  font-weight: bold;
  font-size: 16px;
}

.color-soft-blue {
  color: #8BACD9;
}

.color-cyan {
  color: #00FFF8;
}

.bg-dark-blue {
  background-color: #15263F;
}

.bg-cyan {
  background-color:rgba(0, 255, 248, .52);
}

.border-white {
  border-radius: 100px;
  outline: 2px solid white;
}

.rounded {
  border-radius: 14px!important;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }